.new-expense {
  background-color: #3c08eb;
  padding: 1.5rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(169, 169, 172, 0.25);
  color: white;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(224, 223, 223);
  background-color: rgb(224, 223, 223);
  color: #3c08eb;
  border-radius: 5px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #ceced3;
  border-color: #f0f0f3;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
